table,td,tr {
	text-align: center;
	border: dotted;
	border-color: maroon;
}

button {
	background-color: aqua;
	color: white;
}

body {
	background-color: gray;
	text-align: center;
}
form{
	text-align: center;
	margin-top: 50px;
	margin-left: 50%;
	margin-right: 50%;
}