<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/estilo.css}">
	</head>
    <body>
    <!-- Aqui en th:object se debe poner el nombre de la clase del .java y debe ser en minuscula  que tiene los atributos  -->
        <form action="#" th:action="@{/}" th:object="${formularioDePersona}" method="post">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Edad:</td>
                    <td><input type="text" th:field="*{age}" /></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                </tr>
                <tr>
                    <td  colspan="2"><button type="submit">Enviar Formulario</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>